@use '../mixins' as *;
@use '../variables' as *;

.container {
  padding-left: 20px;
  padding-right: 20px;
  @include for-tablet {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include for-desktop {
    padding-left: 110px;
    padding-right: 110px;
  }
}
