@use '../shared/variables' as *;
@use '../shared/mixins' as *;

.container {
  margin-left: auto;
  margin-right: auto;
}

.chartText {
  font-size: 10px;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: 0.02em;
  fill: $dark-grey-color;

  @include for-tablet {
    font-size: 12px;
    line-height: 1.17;
  }
}

.chartPaper {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  @include for-tablet {
    margin-top: 30px;
  }
}

.chartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 758px;
  width: 100%;
  background: linear-gradient(
    to top,
    #ffffff 0%,
    #ffffff 11.5%,
    #f5f6fb 11.5%,
    #f5f6fb 12%,
    #ffffff 12%,
    #ffffff 22.5%,
    #f5f6fb 22.5%,
    #f5f6fb 23%,
    #ffffff 23%,
    #ffffff 33.6%,
    #f5f6fb 33.5%,
    #f5f6fb 34%,
    #ffffff 34%,
    #ffffff 44.6%,
    #f5f6fb 44.5%,
    #f5f6fb 45%,
    #ffffff 45%,
    #ffffff 55.5%,
    #f5f6fb 55.5%,
    #f5f6fb 56%,
    #ffffff 56%,
    #ffffff 66.5%,
    #f5f6fb 66.5%,
    #f5f6fb 67%,
    #ffffff 67%,
    #ffffff 77.6%,
    #f5f6fb 77.5%,
    #f5f6fb 78%,
    #ffffff 78%,
    #ffffff 88.5%,
    #f5f6fb 88.5%,
    #f5f6fb 89%,
    #ffffff 89%,
    #ffffff 100%
  );
}

.mobileContainer {
  width: 100%;
  min-height: 500px;
}
