@use '../mixins' as *;
@use '../variables' as *;

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  fill: $dark-grey-color;
}

.containerDate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date {
  border: none;
  font: $main-font;
  width: 80px;
  margin-left: 10px;
  background-color: transparent;
}

.mobileStatCont {
  padding-top: 80px;
  background-color: $main-bg-color;
  border-radius: 0px 0px 0px 100px;
  height: 216px;
}
.calendarColor :global .react-datepicker__day--selected {
  background-color: $accent-color;
}
.calendarColor :global .react-datepicker__day--keyboard-selected {
  background-color: $accent-color;
}
.mobStatMenu {
  width: 254px;
  margin: 0 auto;
  padding-bottom: 20px;
  // justify-content: center;
}

.mobStatTable {
  max-width: 310px;
}

.mobileStatFooter {
  height: 53px;
  padding-top: 250px;
}

.calendarColor {
  & input {
    font-family: $main-font;
    color: $dark-grey-color;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
