# Kokorovets Tatiana
src/components/shared/Button/*.jsx
src/components/shared/Modal/*.jsx

# Tetiana Parkhoniuk
src/components/Header/*.jsx
src/components/UserMenu/*.jsx

# Tatyana Tupalo


# Vladyslav Shumkov
src/components/Chart/*.jsx

# Olga Sekretaryova
src/components/shared/Testing/*.jsx