# Kokorovets Tatiana
src/components/shared/Button/*.jsx
src/components/shared/Modal/*.jsx

# Tetiana Parkhoniuk
src/components/Header/*.jsx
src/components/UserMenu/*.jsx
src/components/LoginForm/*.jsx
src/components/RegisterForm/*.jsx
src/redux/auth/
# Tatyana Tupalo


# Vladyslav Shumkov
# src/components/Chart/*.jsx


