@use '../../components/shared/mixins' as *;
@use '../../components/shared/variables' as *;

.reportPageTitleCont {
  position: relative;
  background-color: $main-bg-color;
  width: 100%;
  height: 342px;
  border-radius: 0px 0px 0px 100px;
  background-image: url('../../assets/kapusta-left.svg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: 83px;
  padding-top: 106px;
  @include for-tablet {
    max-width: 100%;
    height: 482px;
    padding-top: 90px;
    padding-left: 121px;
    background-image: url('../../assets/kapusta-bg-tab.svg');
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 100px;
    background-size: 160% auto;
  }
  @include for-desktop {
    max-width: 1280px;
    height: 210px;
    padding-top: 358px;
    padding-left: 180px;
    background-image: url('../../assets/kapusta-bg.svg');
    background-size: 100% auto;
  }
}

.reportPageFooter {
  height: 450px;
  background-color: $white-color;
  background-image: url('../../assets/kapusta.svg');
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 95%;
  background-size: 99px;
  @include for-tablet {
    height: 448px;
    background-image: url('../../assets/kapusta-double-with-fill.svg');
    background-size: 189px 143px;
    background-position-y: 85%;
  }
  @include for-desktop {
    height: 268px;
  }
}
