@use '../shared/mixins' as *;
@use '../shared/variables' as *;

.section {
  background-color: $main-bg-color;
  padding-top: 54px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: $tablet) {
  .section {
    padding: 28px 30px 40px 30px;
  }
}

@media screen and (min-width: $desktop) {
  .section {
    padding: 40px 20px 40px 20px;
  }
}
