@use '../shared/mixins' as *;
@use '../shared/variables' as *;

.card {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 84px;
  max-width: 102px;
  min-height: 106px;
  fill: $icon-dark-color;
  transition: fill $duration $timing;
  &:hover,
  &:focus,
  &:active {
    fill: $accent-color;
    .roundedRectangle {
      background-color: $light-accent-color;
    }
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    min-height: 20px;
    max-height: 36px;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $dark-grey-color;
  }
}
.sum {
  margin: 0 auto;
  letter-spacing: 0.04em;
}

.category {
  margin: 5px auto 0 auto;
  letter-spacing: 0.02em;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  height: 56px;
  width: 59px;
  position: relative;

  svg {
    z-index: 10;
    max-height: 56px;
    max-width: 56px;
  }
}

.roundedRectangle {
  position: absolute;
  bottom: 0;
  width: 59px;
  height: 46px;
  background-color: $main-bg-color;
  border-radius: 20px;
  transition: background-color $duration $timing;
}
