@use '../../components/shared/mixins' as *;
@use '../../components/shared/variables' as *;

.block {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselWrapper {
  margin-bottom: 20px;
}

.firstRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  @include for-mobile-only {
    flex-direction: column;
  }
}

.row {
  width: 100%;
  margin-bottom: 30px;
}

.report {
  max-width: 1280px;
}
