@use '../shared/mixins' as *;
@use '../shared/variables' as *;

.form {
  font: $main-font;
  display: flex;
  flex-direction: column;
}

.description {
  border-radius: 16px 16px 0px 0px;
  padding-left: 20px;
  background-color: $main-bg-color;
  border: 2px solid $white-color;
}
.selectCategory {
  border-radius: 0px 0px 16px 16px;
  margin-bottom: 30px;
  padding-left: 20px;
  background-color: $main-bg-color;
  border: 2px solid $white-color;
}
.sum {
  border: none;
  height: 44px;
  width: 125px;
  border-radius: 22px 0px 0px 22px;
  background-color: $main-bg-color;
}
.containerSum {
  margin-left: 30px;
  border: 2px solid $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
  padding-left: 15px;
  height: 44px;
  border-radius: 16px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  fill: $dark-grey-color;
}

.containerDate {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date {
  border: none;
  background-color: $main-bg-color;
  font: $main-font;
  width: 80px;
  margin-left: 10px;
}
.formButton {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  gap: 25px;
}
.button {
  width: 125px;
  height: 44px;
  border-radius: 16px;
  background-color: $kapusta-grey-color;
  border: 2px solid $light-grey-color;
  color: $dark-grey-color;
  text-transform: uppercase;
  font: $main-font;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  transition: box-shadow 600ms ease-in-out, background-color 600ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: $accent-color;
  border: 2px solid transparent;
  color: $white-color;
  box-shadow: 0 0 20px 20px $accent-color inset;
}

@media screen and (min-width: $mobile) and (max-width: 767px) {
  .description {
    width: 254px;
    height: 44px;
  }
  .inputFild {
    display: flex;
    flex-direction: column;
  }
  .selectCategory {
    width: 280px;
    height: 44px;
  }

  .containerSum {
    width: 183px;
  }
  .separator {
    width: 3px;
    height: 44px;
    background-color: $white-color;
    margin-right: 15px;
  }
}

@media screen and (min-width: $tablet) {
  .inputFild {
    display: flex;
    margin-bottom: 30px;
  }
  .infoData {
    display: flex;
  }
  .containerDate {
    margin-bottom: 70px;
    margin-right: 35px;
  }
  .description {
    width: 187px;
    border-radius: 16px 0px 0px 0px;
    margin: 0;
  }
  .selectCategory {
    width: 168px;
    margin: 0;
    border-radius: 0px 0px 0px 0px;
  }
  .containerSum {
    margin: auto;
    border: 2px solid $white-color;
    padding-right: 20px;
    padding-left: 30px;
    border-radius: 16px;
    border-radius: 0px 16px 16px 0px;
  }

  .formButton {
    margin: auto;
  }
  .sum {
    width: 80px;
    border-radius: 0px 16px 16px 0px;
  }
  .separator {
    display: none;
  }
}

@media screen and (min-width: $desktop) {
  .form {
    flex-direction: row;
  }
  .formButton {
    margin-left: 30px;
    margin-bottom: 32px;
  }
  .infoData {
    flex-direction: row;
  }
  .containerDate {
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 25px;
  }
  .description {
    width: 287px;
  }
  .selectCategory {
    width: 186px;
  }
  .containerSum {
    width: 120px;
  }
}
