@use '../mixins' as *;
@use '../variables' as *;
.paper {
  background-color: $white-color;
  width: 100%;
  @include for-tablet {
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
}
