@use '../../components/shared/mixins' as *;
@use '../../components/shared/variables' as *;

.pages {
  box-sizing: border-box;
  padding-top: 71px;
  width: 100vw;
  @include for-tablet {
    padding-top: 96px;
  }
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100vw;
}

.grey {
  height: 342px;
  border-radius: 0px 0px 0px 100px;
  background-color: $main-bg-color;
  @include for-tablet {
    height: 583px;
  }
  &.register {
    background-image: url('../../assets/kapusta-bg.svg');
    background-repeat: no-repeat;
    background-size: auto 232px;
    background-position: top 85px left 10px;
    @include for-mobile-only {
      background-position: top 85px left 270px;
    }
  }
}

.kapusta {
  @include for-tablet-only {
    height: 576px;
    background-image: url('../../assets/kapusta-double-with-fill.svg');
    background-repeat: no-repeat;
    background-size: 183px 142px;
    background-position: bottom 0 right 88px;
    &.report {
      height: 592px;
    }
    &.register {
      height: 366px;
      background-position: bottom 0 left 103px;
    }
  }
  @include for-desktop {
    height: 296px;
    background-position: top 74px left 10px;
    background-image: url('../../assets/triple-bg.svg');
    background-repeat: repeat-x;
    background-size: 220px 220px;
    &.report {
      height: 541px;
      background-size: 220px 220px;
      background-position: top 321px left 10px;
    }
    &.register {
      background-image: url('../../assets/kapusta-double-with-fill.svg');
      height: 220px;
      background-repeat: no-repeat;
      background-position: bottom 0 left 230px;
    }
  }
}

.main {
  box-sizing: border-box;
  padding-top: 142px;
  @include for-tablet {
    padding-top: 147px;
  }
  @include for-desktop {
    padding-top: 174px;
  }
}
.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 320px;
  @include for-mobile-only {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include for-tablet {
    max-width: 536px;
  }
  @include for-desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
  }
}

.logo {
  margin-bottom: 50px;
  @include for-desktop {
    margin-bottom: 0;
  }
}
