@use '../../components/shared/mixins' as *;
@use '../../components/shared/variables' as *;

.pages {
  box-sizing: border-box;
  padding-top: 71px;
  width: 100vw;
  background-size: 232px 100%;
  background-position: top 660px left 10px;
  background-image: url('../../assets/triple-bg.svg');
  background-repeat: repeat-x;
  @include for-tablet {
    padding-top: 96px;
  }
}
.bg {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 342px;
  border-radius: 0px 0px 0px 100px;
  background-color: $main-bg-color;
  @include for-tablet {
    height: 583px;
  }
}
