@use '../../components/shared/mixins' as *;
@use '../../components/shared/variables' as *;

.mainPageTitleCont {
  position: relative;
  background-color: $main-bg-color;
  width: 100%;
  height: 342px;
  border-radius: 0px 0px 0px 100px;
  background-image: url('../../assets/kapusta-left.svg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: 83px;
  padding-top: 106px;
  @include for-tablet {
    max-width: 100%;
    height: 482px;
    padding-top: 90px;
    padding-left: 121px;
    background-image: url('../../assets/kapusta-bg-tab.svg');
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 100px;
    background-size: 160% auto;
  }
  @include for-desktop {
    max-width: 1280px;
    height: 210px;
    padding-top: 358px;
    padding-left: 180px;
    background-image: url('../../assets/kapusta-bg.svg');
    background-size: 100% auto;
  }
}

.mainPageTitle {
  display: flex;
  color: $black-color;
  font: $main-font;
  font-weight: 900;
  font-size: 55px;
  line-height: 1.177;
  margin-left: 20px;
  margin-bottom: 5px;
  letter-spacing: -0.01em;
  @include for-tablet {
    font-size: 70px;
    margin-left: 100px;
  }
  @include for-desktop {
    font-size: 100px;
    margin-top: 0px;
  }
}

.dollar {
  position: relative;
}

.dollar::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 41%;
  top: 35%;
  width: 8px;
  height: 13px;
  background-color: $black-color;
  width: 4px;
  height: 7px;
  @include for-tablet {
    width: 7px;
    height: 11px;
  }
}

.dollar::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 41%;
  bottom: 11%;
  width: 8px;
  height: 13px;
  background-color: $black-color;
  width: 4px;
  height: 7px;
  @include for-tablet {
    width: 7px;
    height: 11px;
  }
}

.mainPageTitleText {
  padding-left: 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.177;
  text-transform: uppercase;
  color: $dark-grey-color;
  letter-spacing: 0.14em;
  margin-left: 20px;
  @include for-tablet {
    padding-left: 130px;
  }
  @include for-desktop {
    font-size: 19px;
    padding-left: 152px;
  }
}

.mainPageFooter {
  height: 450px;
  background-color: $white-color;
  background-image: url('../../assets/kapusta.svg');
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 95%;
  background-size: 99px;
  @include for-tablet {
    height: 448px;
    background-image: url('../../assets/kapusta-double-with-fill.svg');
    background-size: 189px 143px;
    background-position-y: 85%;
  }
  @include for-desktop {
    height: 268px;
  }
}

.mainPageAuth {
  content: '';
  position: absolute;
  width: 300px;
  height: 525px;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include for-tablet {
    width: 436px;
    height: 535px;
    top: 100%;
  }
  @include for-desktop {
    top: 80%;
    left: 70%;
  }
}
