@use '../variables' as *;
@use '../mixins' as *;

.toGoBackCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left: 22px;
}

.arrowText {
  font-family: $main-font;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: $dark-grey-color;

  margin-left: 18px;
  opacity: 0;
  @include for-tablet {
    opacity: 1;
  }
}
