@use '../shared/variables' as *;

.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  align-items: flex-end;
  width: 160px;
  text-decoration: none !important;
  color: $dark-grey-color;
  fill: $dark-grey-color;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
.text {
  position: relative;
  top: 2px;
  font-family: $main-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: right;
  margin: 0;
  opacity: 0.7;
}

.icon {
  margin-left: 20px;
  width: 14px;
  height: 14px;
}
