@use '../shared/variables' as *;
@use '../shared/mixins' as *;

.balanceForm {
  display: table-footer-group;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgba(82, 85, 95, 0.7);
  @include for-tablet {
    display: flex;
    margin-right: auto;
  }
}

.balanceLabel {
  position: relative;
  display: block;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 30px;
  @include for-tablet {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    line-height: 1.17;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  @include for-desktop {
    justify-content: center;
  }
}

.balanceInput {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $black-color;
  width: 125px;
  height: 38px;
  border: 2px solid $white-color;
  background-color: transparent;
  border-radius: 22px 0 0 22px;
  font-weight: 700;
  outline: none;
  @include for-tablet {
    margin-left: 21px;
    margin-top: 0px;
    border-radius: 16px;
    text-align: center;
    font-size: 12px;
    line-height: 1.17;
    font-weight: bold;
  }
  @include for-desktop {
    margin-left: 40px;
    margin-right: 15px;
  }
}

.balanceButton {
  width: 125px;
  height: 42px;
  border: 2px solid $white-color;
  background-color: transparent;
  border-radius: 0 22px 22px 0;
  color: rgba(82, 85, 95, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  @include for-tablet {
    border-radius: 16px;
    margin-left: 15px;
  }
  @include for-desktop {
    margin-left: 0px;
  }
}

.balanceButton:hover {
  background-color: #cfd1d4;
  color: $main-bg-color;
  transition: 0.5s linear;
}

.buttonsGroup {
  display: flex;
  margin-top: 12px;
  @include for-tablet {
    margin-top: 0px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
