@use '../mixins' as *;
@use '../variables' as *;

.iconWrapper {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 56px;
  width: 59px;
  fill: $icon-dark-color;
  position: relative;

  svg {
    z-index: 10;
    max-height: 56px;
    max-width: 56px;
  }
}

.roundedRectangle {
  position: absolute;
  bottom: 0;
  width: 59px;
  height: 46px;
  background-color: $main-bg-color;
  border-radius: 20px;
}
