@use '../shared/mixins' as *;
@use '../shared/variables' as *;

p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  background-color: #fff;
  font-family: $main-font;
  letter-spacing: 0.04em;
}
.item {
  display: flex;
  border-bottom: 1px solid #f5f6fb;
  justify-content: start;
  align-items: center;
}
.description {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #52555f;
  margin-bottom: 3px;
  margin-top: 5px;
}
.descContainer {
  margin-right: auto;
}
.categoryContainer {
  display: flex;
  font-size: 8px;
  line-height: 9px;
  color: #52555f;
  margin-bottom: 10px;
}
.date {
  margin-right: 20px;
}
.sumContainer {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// для добавления класса при +/-
// .expense {
//   color: red;
//   font-size: 12px;
//   line-height: 14px;
// }
// .income {
//   color: green;
//   font-size: 12px;
//   line-height: 14px;
// }
.buttonDelete {
  border: none;
  background-color: $white-color;
  margin-left: 20px;
  fill: $dark-grey-color;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

@media screen and (min-width: $tablet) {
  .list {
    display: none;
  }
}
