@use '../../components/shared/mixins' as *;
@use '../../components/shared/variables' as *;

.main {
  box-sizing: border-box;
  padding-top: 86px;
  max-width: 1280px;
  @include for-tablet {
    padding-top: 97px;
  }
}

.mobileBtn {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.mobileTableWrapper {
  max-width: 400px;
  margin: 60px auto 80px auto;
}

.homePageMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @include for-tablet {
    flex-direction: row-reverse;
    margin-bottom: 50px;
  }
  @include for-desktop {
    padding-left: 340px;
    margin-bottom: 10px;
  }
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  margin-top: 15px;
}
